@font-face {
    font-family: 'Bahnschrift';
    src: url('./assets/fonts/bahnschrift.woff2') format('woff2'),
      url('./assets/font/bahnschrift.woff') format('woff');
  }
  
  @font-face {
    font-family: 'montserratbold';
    src: url('./assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
      url('./assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratextrabold';
    src: url('./assets/fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
      url('./assets/fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratmedium';
    src: url('./assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
      url('./assets/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.bottom-0{
    position: absolute;
    bottom: 0;
}
.relative{
    position: relative!important;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
}
.-ml-1{
    margin-left: -1rem;
}
.mr-5{
    margin-right: 4rem!important;
}
.w-500{
    width: 30rem!important;
    height: 2.5rem!important;
}
nav a {
    color: #ffffff!important;
    font-size: 1.2rem;
}
.bg-azul-500{
    background: #3BC3FF;
}
.bg-azul-600{
    background: #045278;
}
.bg-azul-600:hover{
    background: #0C365C;
}
.bg-azul-700{
    /*botones*/
    background:#09243F;
}
.bg-azul-800{
    /*footer*/
    background:#0C365C;
}
.bg-azul-900{
    /*cabecera*/
    background:#131921;
}
.bg-blanco-500{
    background:#F2F2F4;
}
/*color text*/
.text-azul-500{
    background: #3BC3FF;
}
.text-azul-600{
    background: #045278;
}
.text-azul-700{
    background:#09243F;
}
.text-azul-800{
    /*footer*/
    background:#0C365C;
}
.text-azul-900{
    background:#131921;
}
.text-xs{
    font-size: small!important;
}
.text-sm{
    font-size: 0.8rem!important;
}
.text-md{
    font-size: 1rem!important;
}
.text-lg{
    font-size: 1.5rem!important;
}
.dropdown-item{
    color:#000000!important;
    font-size: 1.2rem;
}
/*SLIDER*/
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
/**/
@media only screen and (max-width: 1150px) {
    .w-500{
        width: 20rem!important;
        height: 2.4rem!important;
    }
    .dropdown-item{
        color:#000000!important;
        font-size: small;
    }
}
@media only screen and (max-width: 1250px) {
    .w-500{
        width: 23rem!important;
        height: 2.4rem!important;
    }
    .dropdown-item{
        color:#000000!important;
        font-size: 1rem;
    }
    .btn{
        font-size: 1.2rem!important;
    }
}
@media only screen and (min-width: 1350px) {
    .btn{
        font-size: 1.2rem!important;
    }
}